@import "~assets/css/styles.scss";
@import "~assets/css/variable.scss";

.container {
  margin: 30px 20px;

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
    .subtitle {
      font-weight: bold;
    }
    .filter {
      font-size: 16px;
      display: flex;
      button {
        border: none;
        background-color: #fff;
      }
    }
  }
}

.filterMenu {
  height: 100%;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: $secondaryColor;
  .topWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 40px 0;
    position: relative;

    .title {
      display: flex;
      color: $primaryColor;
      font-size: 18px;
      font-weight: 700;
      align-items: center;
      margin: 0;
    }

    .iconBack {
      width: 18px;
      height: 18px;
      color: $primaryColor;
      position: absolute;
      left: 20px;
      top: 5px;

      &:hover {
        background-color: $secondaryColor;
      }
    }

    .iconClose {
      width: 18px;
      height: 18px;
      color: $primaryColor;
      position: absolute;
      right: 20px;
      top: 5px;

      &:hover {
        background-color: $secondaryColor;
      }
    }
  }

  .subMenu {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: $primaryColor;
    margin: 20px 0 16px 20px;
    justify-content: space-between;
    border: none;
    background-color: #fff;
    width: 90%;

    p {
      margin-top: 3px;
    }
  }

  .divider {
    margin: 16px 0;
  }
}
