@import "~assets/css/styles.scss";
@import "~assets/css/variable.scss";

.desktopContainer {
  @include media(S) {
    display: none;
  }
  .menu {
    display: flex;
    border-bottom: 1px solid #e3e3e3;
    justify-content: center;

    .tab {
      background-color: $secondaryColor;
      font-size: 20px;
      border: none;
      padding-bottom: 10px;
      flex-grow: 1;
      &:hover {
        border-bottom: 3px solid $hoverEffectColor;
        color: $hoverEffectColor;
        cursor: pointer;
      }
    }
    .activetab {
      background-color: $secondaryColor;
      font-size: 20px;
      border: none;
      padding-bottom: 10px;
      flex-grow: 1;
      border-bottom: 3px solid $hoverEffectColor;
      color: $hoverEffectColor;
      cursor: pointer;
    }
  }
}
.mobileContainer {
  display: none;
  @include media(S) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    h2 {
      margin: 0;
      display: none;
      @include media(S) {
        display: block;
        margin-left: 10px;
        font-size: 24px;
        line-height: 30px;
      }
      &:after {
        content: "";
        display: block;
        margin-top: 2px;
        margin-right: 20px;
        border: 2px solid black;
        background-color: black;
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
    .subtitle {
      font-weight: bold;
    }
    .filter {
      font-size: 16px;
      display: flex;
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 400;
    color: $primaryColor;
    justify-content: space-between;
    border: none;
    background-color: $secondaryColor;
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
    .text {
      padding: auto;
      margin-left: 10px;
    }
    .arrow {
      margin-right: 10px;
    }
  }
}
